<div class="row">
    <div class="col-m4 mx-auto">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                Iniciar sesión
            </div>
            <div class="card-body">
                <form (submit)="ingresar()">
                    <div class="form-group mb-3">
                        <input type="email" [(ngModel)]="user.email" name="email" class="form-control" placeholder="E-mail" required autofocus>
                    </div>
                    <div class="form-group mb-3">
                        <input type="password" [(ngModel)]="user.password" name="password" class="form-control" placeholder="Password" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Iniciar sesion</button>
                </form>
            </div>
        </div>
    </div>
</div>

